{% extends "base.html" %}
{% block title %}我是誰{% endblock %}
{% block content %}
<h2 class="mb-4 text-center">猜猜，這隻寶可夢是誰？</h2>

<div class="text-center mb-4">
    <img src="{{ info.image }}" alt="寶可夢圖片" style="filter: brightness(0) contrast(1.5); width: 200px;">
</div>

<form method="POST" action="{{ url_for('guess') }}" class="d-flex justify-content-center gap-2">
    <input type="text" name="guess" class="form-control w-50" placeholder="輸入寶可夢名稱（中或英文）" required>
    <button type="submit" class="btn btn-primary">猜猜看！</button>
</form>
{% endblock %}
